<!doctype html>
<html lang="en">
  <head>
    <title>Create Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="shortcut icon" href="">
  </head>
  <body>
  <form action="StoreQuestion" method="POST">
    <% for(var i=1;i<=question;i++){ %>



      <div class="box" >
        <h3>(<%=i%>) </h3>
        <input type="text" oninput="save()" value=""name="ques<%= i-1 %>" placeholder="Type your question">
        <div class="optionsType">
          <a href="changeOpt?QuestionNumber=<%=i-1%>&type=c" onclick="typeChange(<%=i-1%>,0)">Check Box</a><br>
          <a href="ChangeOpt?QuestionNumber=<%=i-1%>&type=sa" onclick="typeChange(<%=i-1%>,1)">Short Answer</a><br>
          <a href="ChangeOpt?QuestionNumber=<%=i-1%>&type=r" onclick="typeChange(<%=i-1%>),0">Multiple Choice</a><br>
        </div>  
        <div class="Option"> 
          <% for(var j=0;j<option[i-1];j++){ %>
            <% if(option_type[i-1]=='text'){ %>
                  <textarea oninput="save()" value="" name="ques<%=i-1%>opt<%=j%>" placeholder="Type Your Answer"></textarea>

            <%break }else{ %>
                  <input type="<%=option_type[i-1]%>"> <span><input oninput="save()" value="" type="text" name="ques<%=i-1%>opt<%=j%>"   placeholder="Type the Option"></span><br>
          <% }} %>
        </div>

        <!--  -->
          <a href="addoption?QuestionNumber=<%= i-1 %>" onclick="addOpt(<%=i-1%>,<%=j%>)" >Add Option</a><br>
          <a href="RemoveOption?QuestionNumber=<%= i-1%>" onclick="removeOpt(<%=i-1%>,<%=j%>)" >Remove Option</a><br>
        <a href='RemoveQuestion?QuetionNumber=<%= i-1%>' onclick="removeQues(<%=i-1%>)" >Remove Question</a>
        <!--  -->
      </div>
      <% } %>

    <a href="/AddQuestion" onclick="addQues()">Add Question</a>
    <button type="submit" id="submit" onclick="clearLocal()">Submit</button>
    </form>


    
    <script src="script.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>