<!doctype html>
<html lang="en">
  <head>
    <title>Create Form</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="shortcut icon" href="">
  </head>
  <body>
  <form action="/StoreQuestion" method="POST">
    <% for(var i=1;i<=question;i++){ %>



      <div class="box" >
        <h3>(<%=i%>) </h3>
        <input type="text" oninput="save()" value="<%=question_text[i-1]%>"name="ques<%= i-1 %>" placeholder="Type your question">
        <select id="option_type" value="<%=option_type[i-1]%>"name="type<%= i-1%>">
          <option value="checkbox" selected >Check Box</option>
          <option value="Text" >Short Answer</option>
          <option value="radio" >Multiple Choice</option>
          
        </select>
        <div class="Option"> 
          <% for(var j=0;j<option[i-1];j++){ %>
          
            <input id="type" type="text"> <span><input oninput="save()" value="<%=option_text[i-1][j]%>" type="text" name="ques<%=i-1%>opt<%=j%>" id ="option_text"  placeholder="Type the Option"></span><br>
          <% } %>
        </div>
        <!--  -->
          <a href="addoption?QuestionNumber=<%= i-1 %>" onclick="addOpt(<%=i-1%>,<%=j%>)" >Add Option</a><br>
          <a href="RemoveOption?QuestionNumber=<%= i-1%>" onclick="removeOpt(<%=i-1%>,<%=j%>)" >Remove Option</a><br>
        <a href='/RemoveQuestion?QuetionNumber=<%= i-1%>' onclick="removeQues(<%=i-1%>)" >Remove Question</a>
      </div>
      <% } %>

    <a href="/AddQuestion" onclick="addQues()">Add Question</a>
    <button type="submit" id="submit">Submit</button>
    </form>


    
    <script src="script.js" ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   </body>
</html>