<div class="header">
    <div class="no-touch">
        <div id="welcome">
            <div>
                <img src="/images/icons8-google-forms-sm.svg" alt="">
            </div>
        </div>
        <div class="share">
            <button id="share-link"> 
                <i class="fa fa-share-alt fa-2x" aria-hidden="true" ></i>
            </button>
        </div>
    </div>
    <div class="dashboard-container">
        <h1 class="mt-4">
            Questions
        </h1>

        <form action="dashboard/StoreQuestion" method="POST">
          <% for(var i=1;i<=question;i++){ %>
            <div class="box" id="Q<%=i-1%>" >
              <h3>(<%=i%>) </h3>
              <input type="text" oninput="save()" value="" name="ques<%= i-1 %>" placeholder="Type your question">
              <div class="optionsType">
                <a href="dashboard/changeOpt?QuestionNumber=<%=i-1%>&type=c" onclick="typeChange(`<%=i-1%>`,0)">Check Box</a><br>
                <a href="dashboard/ChangeOpt?QuestionNumber=<%=i-1%>&type=sa" onclick="typeChange(`<%=i-1%>`,1)">Short Answer</a><br>
                <a href="dashboard/ChangeOpt?QuestionNumber=<%=i-1%>&type=r" onclick="typeChange(`<%=i-1%>`),0">Multiple Choice</a><br>
              </div>  
              <div class="Option"> 
                <% for(var j=0;j<option[i-1];j++){ %>
                  <% if(option_type[i-1]=='text'){ %>
                        <textarea oninput="save()" value="" name="ques<%=i-1%>opt<%=j%>" placeholder="Type Your Answer"></textarea>
      
                  <%break }else{ %>
                        <input type="<%=option_type[i-1]%>"> <span><input oninput="save()" value="" type="text" name="ques<%=i-1%>opt<%=j%>"   placeholder="Type the Option"></span><br>
                <% }} %>
              </div>
      
              <!--  -->
                <a href="dashboard/addoption?QuestionNumber=<%= i-1 %>" onclick="addOpt(`<%=i-1%>`,`<%=j%>`)" >Add Option</a><br>
                <a href="dashboard/RemoveOption?QuestionNumber=<%= i-1%>" onclick="removeOpt(`<%=i-1%>`,`<%=j%>`)" >Remove Option</a><br>
              <a href='dashboard/RemoveQuestion?QuestionNumber=<%= i-1%>' onclick="removeQues(`<%=i-1%>`)" >Remove Question</a>
              <!--  -->
            </div>
          <% } %>
          <a href="dashboard/AddQuestion" onclick="addQues()">Add Question</a>
          <button type="submit" id="submit" onclick="clearLocal()">Submit</button>
          <input type="text" value="Untitled Form" id="form-name" required name="formName" oninput="save()">
        </form>
    </div>
</div>