<h1>
    <i class="fas fa-sign-in-alt"></i>
    Please Login
  </h1>
  <%- include ("./partials/messages") %>
  <form action="/users/register" method="POST">
    <div class="form-control">
      <input type="text"
      id="name"
      name="name"
      value="<%= typeof name != 'undefined' ? name : '' %>"
      required
      >
      <label>name</label>
    </div>
  
    <div class="form-control">
      <input 
      type="email"
      id="email"
      name="email"
      value="<%= typeof email != 'undefined' ? email : '' %>"
      required>
      <label>Email</label>
    </div>
    <div class="form-control">
      <input 
      type="password"
      id="password"
      name="password"
      value="<%= typeof password != 'undefined' ? password : '' %>"
      required>
      <label>Password</label>
    </div>
    <div class="form-control">
      <input 
      type="password"
      id="password2"
      name="password2"
      value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
      required>
      <label>Password2</label>
    </div>
  
    <button class="btn" type="submit">Register</button>
  
    <p class="text">Have An Account?  <a href="/users/login">Login</a> </p>
  </form>
  